body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:716px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:485px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:0px;
  width:267px;
  height:485px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:487px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:487px;
  font-size:20px;
  text-align:left;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:345px;
  word-wrap:break-word;
}
