body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:25px;
  width:197px;
  height:59px;
  font-size:48px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:193px;
  white-space:nowrap;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:174px;
  width:77px;
  height:45px;
  font-size:36px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:84px;
  width:0px;
  height:0px;
}
#u2_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u2_seg1 {
  border-width:0px;
  position:absolute;
  left:-423px;
  top:72px;
  width:427px;
  height:8px;
}
#u2_seg2 {
  border-width:0px;
  position:absolute;
  left:-423px;
  top:72px;
  width:8px;
  height:18px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:-228px;
  top:68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:60px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:219px;
  width:5px;
  height:45px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:264px;
  width:201px;
  height:70px;
  font-size:28px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:197px;
  white-space:nowrap;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:174px;
  width:77px;
  height:45px;
  font-size:36px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:84px;
  width:0px;
  height:0px;
}
#u6_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u6_seg1 {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:72px;
  width:117px;
  height:8px;
}
#u6_seg2 {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:72px;
  width:8px;
  height:18px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:60px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:219px;
  width:5px;
  height:45px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:281px;
  width:173px;
  height:37px;
  font-size:28px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:169px;
  white-space:nowrap;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:369px;
  width:205px;
  height:27px;
  font-size:20px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  white-space:nowrap;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:318px;
  width:0px;
  height:0px;
}
#u10_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:453px;
  width:105px;
  height:27px;
  font-size:20px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  white-space:nowrap;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:396px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:174px;
  width:77px;
  height:45px;
  font-size:36px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:84px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:72px;
  width:148px;
  height:8px;
}
#u14_seg2 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:72px;
  width:8px;
  height:18px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:60px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:219px;
  width:5px;
  height:45px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:281px;
  width:181px;
  height:37px;
  font-size:28px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:177px;
  white-space:nowrap;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:369px;
  width:65px;
  height:27px;
  font-size:20px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:369px;
  width:65px;
  height:27px;
  font-size:20px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:318px;
  width:0px;
  height:0px;
}
#u19_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u19_seg1 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:28px;
  width:66px;
  height:8px;
}
#u19_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:28px;
  width:8px;
  height:23px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:318px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:28px;
  width:66px;
  height:8px;
}
#u20_seg2 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:28px;
  width:8px;
  height:23px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:454px;
  width:65px;
  height:27px;
  font-size:20px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:396px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:174px;
  width:113px;
  height:45px;
  font-size:36px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:84px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u24_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:72px;
  width:418px;
  height:8px;
}
#u24_seg2 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:72px;
  width:8px;
  height:18px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:124px;
  top:68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:60px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:219px;
  width:5px;
  height:45px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:281px;
  width:117px;
  height:37px;
  font-size:28px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  white-space:nowrap;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:370px;
  width:225px;
  height:27px;
  font-size:20px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:221px;
  white-space:nowrap;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:318px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:454px;
  width:85px;
  height:27px;
  font-size:20px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:397px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:480px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:16px;
  width:527px;
  height:8px;
}
#u31_seg2 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:1px;
  width:8px;
  height:23px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:209px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:530px;
  width:100px;
  height:60px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:530px;
  width:0px;
  height:0px;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-36px;
  width:8px;
  height:36px;
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-36px;
  width:5px;
  height:8px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:174px;
  width:149px;
  height:45px;
  font-size:36px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:145px;
  white-space:nowrap;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:84px;
  width:0px;
  height:0px;
}
#u35_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u35_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:72px;
  width:641px;
  height:8px;
}
#u35_seg2 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:72px;
  width:8px;
  height:18px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:236px;
  top:68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:60px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:219px;
  width:5px;
  height:45px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:265px;
  width:201px;
  height:70px;
  font-size:28px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:197px;
  white-space:nowrap;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:359px;
  width:89px;
  height:37px;
  font-size:28px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:60px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:396px;
  width:5px;
  height:45px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:452px;
  width:285px;
  height:27px;
  font-size:20px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:281px;
  white-space:nowrap;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:334px;
  width:0px;
  height:0px;
}
#u41_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:137px;
}
#u41_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:129px;
  width:261px;
  height:8px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:125px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:490px;
  width:100px;
  height:60px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:490px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-28px;
  width:8px;
  height:28px;
}
#u43_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-28px;
  width:6px;
  height:8px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:334px;
  width:0px;
  height:0px;
}
#u44_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u44_seg1 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:24px;
  width:5px;
  height:8px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
