body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:512px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:47px;
  width:20px;
  height:512px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:9px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:285px;
  width:439px;
  height:9px;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:135px;
  width:129px;
  height:88px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-17px;
  width:125px;
  word-wrap:break-word;
}
#u657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:118px;
  width:129px;
  height:88px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:125px;
  word-wrap:break-word;
}
#u658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:414px;
  width:129px;
  height:88px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-24px;
  width:125px;
  word-wrap:break-word;
}
#u659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:389px;
  width:158px;
  height:88px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:154px;
  word-wrap:break-word;
}
