body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:512px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:47px;
  width:20px;
  height:512px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:9px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:285px;
  width:439px;
  height:9px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:135px;
  width:129px;
  height:88px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-9px;
  width:125px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:135px;
  width:129px;
  height:88px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:125px;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:414px;
  width:129px;
  height:88px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-55px;
  width:125px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:349px;
  width:158px;
  height:88px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:154px;
  word-wrap:break-word;
}
