body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1018px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:982px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:0px;
  width:48px;
  height:982px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:18px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:457px;
  width:1018px;
  height:18px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:166px;
  width:300px;
  height:170px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-65px;
  width:296px;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:166px;
  width:300px;
  height:170px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:701px;
  width:300px;
  height:170px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-188px;
  width:296px;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:578px;
  width:363px;
  height:170px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:359px;
  word-wrap:break-word;
}
